html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.header {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 45%;
    height: 9%;
    border: 1px solid;
}

.body {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 85%;
    border: 1px solid;
}

.title {
    margin-left: 20px;
}

.body-chat {
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    width: 95%;
    height: 85%;
    margin: 21px;
    border: 1px solid;
}

.bottom-chat {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    height: 10%;
    min-height: 40px;
    margin: 0px 21px 21px 21px;
}

.input-chat {
    height: 65%;
    width: 80%;
    font-size: 18px;
}

.send-button {
    width: 18%;
    font-size: 18px;
    color: green;
    cursor: pointer;
}

.body-message {
    display: flex;
    max-width: 70%;
    flex-direction: column;
}

.received-message {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.sent-message {
    display: flex;
    flex-direction: column;
    margin: 15px;
    align-content: flex-end;
    flex-wrap: wrap;
}

.message-content {
    padding: 2px 70px 2px 10px;
    width: fit-content;
    min-width: 45%;
    border: 1px solid;
    background: #ffeec0;
}